# Folders to ignore
build/
ignore/
vendor/
.git/
.github/
.menv/
.vscode/
.claude/
assets/
sdk/

# Temporary and cache files
**/*.o
**/*.a
**/*.so
**/*.dylib
**/*.tmp
**/*.temp
**/.DS_Store
**/Thumbs.db
**/*.swp
**/*.swo
target/

# Specific files that aren't needed
**/*.log
**/*.md
**/*.yaml
**/*.yml
**/*.sh
**/*.entitlements
**/*.env
**/*.example
**/*.test
